:root {
  background-color: #000000;
  --primary-color: #1968c2;
}

.App {
  background-color: #000000;
}

.App-logo {
  height: 9vmin;
  cursor: pointer;
}

.logo-title {
  display: flex;
  align-items: center;
  gap: 5px;
}

.App-title {
  color: white;
  font-weight: bold;
  cursor: pointer;
  margin: 0;
}

.App-header {
  background-color: #000000;
  min-height: 10vh;
  display: flex;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  border-bottom: 1px solid rgb(30, 10, 82);
  position: sticky;
}

.Half-header {
  display: flex;
  align-items: flex-end;
  gap: 15px;
  margin-left: 300px;
}

.links{
  display: flex;
}
.Home-link, .Event-link, .Login-link {
  text-decoration: none;
  color: white;
  position: relative;
  padding: 5px;
  font-size: 1rem;
  margin-left: 20px;
  transition: color 0.3s ease, transform 0.3s ease;
}

.Home-link::after, .Event-link::after, .Login-link::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: 0;
  background-color: var(--primary-color);
  transition: width 0.3s ease, box-shadow 0.3s ease;
}

.Home-link:hover::after, .Event-link:hover::after, .Login-link:hover::after {
  width: 100%;
  box-shadow: 0 0 10px var(--primary-color);
}

.Home-link:hover, .Event-link:hover, .Login-link:hover {
  color: var(--primary-color);
  transform: translateY(-3px);
}

.Home-link:hover::before, .Event-link:hover::before, .Login-link:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, var(--primary-color), transparent);
  animation: thunder 0.5s forwards;
}

@keyframes thunder {
  from {
    opacity: 0;
    transform: scale(0.5);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.Search {
  height: 35px;
  width: 400px; /* Increased width */
  background: none;
  border: none;
  border-bottom: 2px solid #1968c2;
  color: white;
  outline: none;
  font-size: 1rem;
  transition: width 0.3s ease, color 0.3s ease;
  margin-top: 10px;
}

.Search::placeholder {
  color: rgba(255, 255, 255, 0.6);
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
}

.Search:focus::placeholder {
  opacity: 1;
  content: "Search Here";
}

/* Align anchor tags at the bottom of the navbar */
.Half-header a {
  align-self: flex-end;
  margin-bottom: 5px;
}

